@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #E5E4E5;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-width: 900px;
  max-width: 1440px;
}

.header {
  width: 100%;
  background-color: #07569A;
  height: 66px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo-wrap {
  display: flex;
}

.space {
  width: 120px;
}

.logo {
  display: flex;
  width: 232px;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.logo img {
  width: 130px;
  height: 46px;
}

.basket {
  padding: 14px;
  width: 279px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.basket .price {
  font-weight: bold;
  font-size: 20px;
}

.basket img {
  width: 34px;
  height: 34px;
  float: left;
}

.content {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
}

.left-menu {
  width: 232px;
  background-color: #E5E4E5;
  height: 100%;
}

.left-menu ul {
  margin: 0;
  padding: 0;
}

.left-menu li {
  padding: 20px 20px 0 20px;
  list-style-type: none;
}

.left-menu a {
  color: #333333;
  text-decoration: none;
}

.left-menu a:hover {
  color: #333333;
  text-decoration: underline;
}

.goods-wrap {
  padding: 20px 30px;
}

.link-way a {
  color: #3072C4;
  text-decoration: none;
}

.link-way a:hover {
  color: #3072C4;
  text-decoration: underline;
}

.link-way a::after {
  content: '›';
  margin: 0 7px;
  color: black;
}

.link-way a::after:hover {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

.goods {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer {
  flex-grow: 1;
  border-top: 1px solid #D4D4D4;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 0;
}

.right-space {
  width: 308px;
}